.pagewrapper {
  display: flex;
  background-color: #161616;
  width: 100vw;
}

.loading {
  background-color: #161616;
  color:white;
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.order {
  z-index: 2;
  width: 300px;
  height: 100vh;
  background-color: bisque;
  color: black;
  position: fixed;
}

.order h1 {
    text-align: center;
    padding-top: 20px;
    height: 60px;
    border-bottom: solid;
  }

.order p {
  padding: 10px;
}

.orderitems {
  height: 600px;
  overflow: auto;
}

.orderitems::-webkit-scrollbar {
  background-color: bisque;
}

.orderitems li {
  padding: 2px;
  font-size: 12px;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 80vw;
  left: 300px;
}

.menuselection button {
  all: unset;
  background-color: #161616;
  border: solid;
  padding: 10px;
  border-radius: 10px;
  margin: 20px;
  width: 80px;
  text-align: center;
  font-weight: 600;
}

  .menuselection button:hover {
    background-color: #530000;
  }

.menuitems {
  height: 700px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.menuitems button {
  all: unset;
  background-color: darkred;
  margin: 10px;
  border-radius: 10px;
  padding: 50px;
  width: 100px;
  text-align: center;
  font-weight: 600;
}

.menuitems h1 {
  position: relative;
  left: 150px;
  top: 300px;
  width: 100px;
}

.menuitems button:hover {
  background-color: #530000;
}

.pay {
  height: 75px;
  width: 150px;
  border-radius: 10px;
  background-color: darkred;
}

  .pay:hover {
    background-color: #530000;
  }

  .orderlistitem {
    display: flex;
  }

  .itemname {
    font-weight: 600;
    font-size: 12px;
  }

  .price {
    width: 100%;
    text-align: right;
  }

  .totals {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
  }

  .totals li {
    display: flex;
  }

  .totals p {
    text-align: right;
    width: 100%;
  }

  .totals h3 {
    text-wrap: nowrap;
  }

  .ticketMenu {
    height: 100px;
    width: 100px;
    position: relative;
    bottom: 780px;
    left: 500px;
  }

    .ticketMenu button {
      all: unset;
      background-color: black;
      border: solid;
      padding: 10px;
      border-radius: 10px;
      margin: 20px;
      width: 80px;
      text-align: center;
      font-weight: 600;
    }

      .ticketMenu button:hover {
        background-color: #530000;
      }